@import "utilities";

.cart {
    border: 2px $dark solid;
    min-width: 90vw;
    border-radius: 50px;
    display: flex;
    align-content: center;
    justify-content: center;
    margin: 20px;
    padding: 20px;
    flex-direction: column;
    opacity: 1;
	animation-name: fadeInOpacity;
	animation-iteration-count: 1;
	animation-timing-function: ease-in;
	animation-duration: 2s;

    @include w600 {
        min-width: 95vw;
        width: 95vw;
    }


    &:hover {
        border-color: $primary-color;
    }

    .name {
        text-align: center;
        font-size: 20px;
        color: $dark;

        span {
            color: $primary-color;
        }
    }

    .cards {
        width: 100%;
        display: flex;
        align-items: center;
        justify-content: space-around;
        flex-direction: row;

        @include w1000 {
            flex-direction: column;
        }
    }
}

