@import "utilities";

:root {
  --light: #ffffff;
  --dark: #4E4E4E;
}

html,
body {
  padding: 0;
  margin: 0;
  background-color: $light;
  transition: 0.5s;
  font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen,
    Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
}

a {
  color: inherit;
  text-decoration: none;
}

* {
  box-sizing: border-box;
}
